body {
  background-color: lightblue;
  color: purple;
  font-size: 25px;
}

.main-header {
  padding: 10px;
  text-align: center;
  border: 3px solid black;
  width: 50vw;
  margin: 20px auto;
  font-size: 50px;

  color: darkblue;
  font-style: italic;
}
#List {
  color: gold;
  font-size: 30pt;
  font-style: italic;
  font-family: cursive;
  text-align: center;
  border: 10px solid black;
  width: 45vw;
  margin: 10px auto;
  background-color: blueviolet;
}
.Youtube {
  color: black;
  font-size: 100px;
}
.Google {
  background-color: black;
}

.vscode {
  background-color: black;
}

.background {
  text-align: center;
  background-color: white;
  margin: 20px auto;
  width: 60vw;
}
