body
{
    background-color: black;
color: aliceblue;
font-size: 20px;
}
h1{ 
    color: darkblue;
    font-style:italic
}
.main-header{
color: white; 
padding: 100px;;}
#List{
    color:gold;
    font-size: 30pt;
    font-style:italic; 
    font-family: cursive;
    text-align:center;
    margin: 0px auto;
}
.main-header{
    text-align: center;
     border: 10px solid white;
     margin: 20px auto;
    
    }
   .background {
    background-color: black;
    background-image: url();
    text-align: center;
    border: 10px solid white;
    margin: 20px auto;
    .main-header{
        text-align: center;
         border: 10px solid white;
         margin: 20px auto;
   }
   body{

   }