body
{
background-color: blueviolet;
color: aliceblue;
font-size: 20px;
}
h1{ 
    color: darkblue;
    font-style:italic
}
.main-header{
color: white; 
padding: 100px;;}
#List{
    color:gold;
    font-size: 30pt;
    font-style:italic; 
    text-align:center;
}
.main-header{
    text-align: center;
    
 border: 10pt solid black;
    }